<div class="menu">
    
    <div class="row w-100 m-0">
        <div class="col-2"></div>
        <div class="col-1" style="font-size:50px">
            CV
        </div>
        <div class="col-6" style="background:#61605B;">
            <ul>
                <li>
                    <a href="#presentation">PROFIL</a>
                </li>
                <li>
                    <a href="#experiencespro">EXPERIENCES PROFESSIONNELLES</a>
                </li>
                <li>
                    <a href="#competences">COMPETENCES</a>
                </li>
                <li>
                    <a href="#formations">FORMATIONS</a>
                </li>
                <li>
                    <a href="#langues">LANGUES</a>
                </li>
                <li>
                    <a href="#passions">PASSIONS</a>
                </li>
                <li>
                    <a href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
        <div class="col-1 d-flex align-items-center" style="background:#61605B;color:white!important;">
            <a style="color:white" href="mailto:mel68lutten@gmail.com"><i class="fas fa-envelope" style="margin-right:10px"></i></a>
            <a style="color:white" href="https://www.linkedin.com/in/m%C3%A9lissa-luttenschlager-1b0807114?originalSubdomain=fr"><i class="fab fa-linkedin" style="margin-right:10px"></i></a>
            <a style="color:white" href="https://www.artstation.com/melissa_luttenschlager"><i class="fab fa-artstation"></i></a>
        </div>
        <div class="col-2" style="background:#61605B;"></div>
    </div>
       
    
</div>